.itemDetail{
    display: flex;
    align-items: center;
    height: 500px;
}
.imagenDetail, .texto{
    width: 50%;
    color: black;
}
.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 500px;
    padding: 20px 0;
}
.imagenDetail{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagenDetail img{
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 400px;
}
.nombreDetail{
    font-size: 50px;
    font-weight: 700;
}
.descripcionDetail{
    font-size: 20px;
}
.envioDetail{
    font-size: 15px;
    color: rgb(0, 172, 0);
}
.precioDetail{
    font-weight: 700;
    font-size: 40px;
}
.botones-detail{
    display: flex;
    flex-direction: column;
    width: 200px;
}
.boton-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 200px;
    height: 35px;
    background-color: white;
    color: black;
    border: 1px solid;
    border-radius: 6px;
}
.boton-detail:hover{
    background-color: black;
    color: white;
    transition: background-color 0.1s ease-in-out;
}