.contenedor-carrito-vacio{
    display: flex;
    justify-content: center;
}
.carrito-vacio{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 10vh;
    width: 1000px;
    height: 200px;
}
.carrito-vacio h2{
    font-weight: 700;
    font-size: 40px;
    color: white;
}
.button-volver{
    background-color: white;
    font-weight: 500;
    color: black;
    padding: 10px;
    border-radius: 5px;
}
.button-volver:hover{
    color: black;
}

.seccion-carrito{
    display: flex;
    justify-content: center;
}
.contenedor-carrito{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 1200px;
    height: 100%;
    margin-top: 50px;
    border-radius: 10px;
}
.lista-items{
    width: 700px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
}
section {
    padding-top: 70px;
}