.contenedor{
    display: flex;
    justify-content: center;
    padding: 50px;
    height: 100vh;
    background-color: rgba(38, 38, 38, 0.838);
}
.itemDetailContainer {
  background-color: white;
  width: 1200px;
  border-radius: 10px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 2px 10px 0.5px rgba(0, 0, 0, 0.2);
}
