#navbar{
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    background-color: black;padding: 0 20px;
}
#navbar ul {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
#navbar ul li{
    height: 70px;
}
#navbar ul li a{
    height: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
}
#navbar ul li a:hover{
    background-color: rgb(77, 77, 77);
    cursor: pointer ;
    color: white;
}

#cartwidget img{
    width: 25px;
    height: 25px;
}
#cartwidget p {
    height: 25px;
}
#cartwidget{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 70px;
    height: 70px;
}

#cartwidget:hover{
    background-color: rgb(77, 77, 77);
    cursor: pointer ;
}
.brand img{
    width: 75px;
}