.itemCount{
    width: 200px;
}
.controles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}
.finalizar{
    margin-top: 10px;
    width: 200px;
    height: 35px;
    background-color: white;
    color: black;
}
.finalizar:hover{
    background-color: black;
    border-color: black;
    color: white;
    transition: background-color 0.3s ease-in-out;
}
button{
    border: 1px solid;
    border-radius: 6px;
}
.controles button {
    width: 40px;
    height: 35px;
    color: white;
    background-color: black;
    border: 1px solid black;
}
.controles button:hover{
    background-color: white;
    border-color: black;
    color: black;
    transition: background-color 0.3s ease-in-out;
}
