.itemList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    background-color: rgba(0, 162, 255, 0.789);
    width: 975px;
    border-radius: 10px;
    padding: 50px;
}